header {
    background-image: url(../images/footer_lodyas.png);
    height: 100px;
    width: 100%;
    z-index: 1000;
}

a {
    text-decoration: none;
}

.header-first {
    background-image: url(../images/footer_lodyas.png);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.homepage {
    width: 100%;
}

.logo {
    height: 100%;
    text-align: left;
}

.fa {
    color: #f46034;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

.twitter {
    display: inline-block;
}

.instagram {
    display: inline-block;
}

.facebook {
    display: inline-block;
}

.pinterest {
    display: inline-block;
}

a div i:hover {
    color: #bc3e19;
}  

.media {
    text-align: right;
    padding-top: 50px;
}

.pages li {
    text-align: right;
    display: inline-block;
    padding: 10px;
}

.page {
    display: inline-block;
    margin-right: 5px;
    border-radius: 15%;
    text-align: right;
}

a .page {
    color: #f46034;
    text-decoration: none;
    
}

a .page:hover {
    color: #f46034;
    text-decoration: none;
    background-color: #2a2a2a;
    border-left: 2px dashed #f46034;
}

.active {
    background-color: #2a2a2a;
    border-left: 2px solid #f46034;
    color: #f46034
}

body {
    background-image: url(../images/Marble.png);
    width: 100%;
}

.home {
    display: inline-block;
    width: 100%;
}

.service-tab {
    height: 75px;
    background-image: url(../images/footer_lodyas.png);
    color: #f46034;
    padding: 1px;
    padding-left: 30px;
}

.service {
    text-align: center;
    margin-top: 10px;
}

.circle {
    border: 2px solid #2a2a2a;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: auto;
}

.service-logo {
    padding-top: 15px;
}

.our-team-tab {
    height: 75px;
    background-image: url(../images/footer_lodyas.png);
    color: #f46034;
    padding: 1px;
    padding-left: 30px;
}

.ceo {
    text-align: center;
}

.ceo-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.ceo-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.coo {
    text-align: center;
}

.coo-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.coo-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.cto {
    text-align: center;
}

.cto-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.cto-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.cao {
    text-align: center;
}

.cao-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.cao-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.cio {
    text-align: center;
}

.cio-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.cio-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.cco {
    text-align: center;
}

.cco-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.cco-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.cmo {
    text-align: center;
}

.cmo-image {
    border-radius: 100%;
    border: 2px solid #2a2a2a;
}

.cmo-desc {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: #bfbfbf;
    border-radius: 5%;
}

.contact-us-tab {
    height: 75px;
    background-image: url(../images/footer_lodyas.png);
    color: #f46034;
    padding: 1px;
    padding-left: 30px;
}

.com-desc {
    padding: 30px;
    font-size: 125%;
}

.contact-form {
    text-align: center;
}

div div input {
    padding: 10px;
}

.message {
    height: 100px;
    text-align: left;
}

.submit {
    float: right;
    
}